.mainBox{
    height:300px;
    width:400px;
    background-color:lightgray;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    margin-top:10%;
    margin-left: 35%;
}

.heading1{
	text-align: center;
	color: white;
	text-shadow: 2px 2px green;
}

.uploadBox{
	margin-top: 60px;
	text-align: center;
}

.returnLink{
	margin-top: 70px;
}